#solar-canvas {
  position: absolute;
  top: 180px;
  right: calc(100px + 12%);

  #solar {
    position: relative;


    #sun {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: linear-gradient(to bottom right, #ffcc00, #ff9900);
      box-shadow: rgb(135, 135, 135, 0.1) 0px 0px 0px 1px,
      rgb(135, 135, 135, 0.1) 0px 0px 0px 2px,
      rgb(135, 135, 135, 0.1) 0px 0px 0px 3px,;
      top: 50%;
      left: 50%;
      margin-left: -5px;
      margin-top: -5px;
      transform: scale(7);
    }
    .planet {
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      border: 1px solid rgba(255, 255, 255, 0.1);

      &:after {
        content: " ";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        box-shadow: rgba(135, 135, 135, 0.1) 0px 0px 0px 1px,
        rgb(135, 135, 135, 0.1) 0px 0px 0px 2px,
        rgb(135, 135, 135, 0.1) 0px 0px 0px 3px,;
      }
      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.4s;
          width: $i * 100px;
          height: $i * 100px;
          margin-left: -($i * 100px) / 2;
          margin-top: -($i * 100px) / 2;
          &::after {
            margin-left: -($i * 100px) / 2 - 5px;
            opacity: 0;
            animation: fade-in 1s ease-in-out;
            animation-fill-mode: forwards;  
            animation-delay: $i * 0.2s ;
          }
        }
      }
    }

    #mercury {
      rotate: 90deg;
      animation: orbit-at-12 50s linear infinite;
      &::after {
        background: linear-gradient(to bottom right, #b0b0b0, #a0a0a0);
      }
    }
    #venus {
      rotate: 180deg;
      animation: orbit-at-3 70s linear infinite;

      &::after {
        transform: scale(1.2);
        background: linear-gradient(to bottom right, #ffd700, #ff9900);
      }
    }
    #earth {
      animation: orbit 50s linear infinite;
      &::after {
        transform: scale(1.4);
        background: linear-gradient(to bottom right, #87ceeb, #2e8b57);

      }
    }
    #mars {
      rotate:180deg;
      animation: orbit-at-3 20s linear infinite;
      &::after {
        transform: scale(1.6);
        background: linear-gradient(to bottom right, #ff6347, #ff4500, #8b4513);

      }
    }
    #jupiter {
      animation: orbit 68s linear infinite;
      &::after {
        transform: scale(2.8);
        background: linear-gradient(to bottom right, #ba5a06, #844901, #827566);

      }
    }
    #saturn {
      rotate: 180deg;
      animation: orbit-at-3 37s linear infinite;
      &::after {
        transform: scale(2);
        background: linear-gradient(to bottom right, #ffd700, #ffd700, #ffd700, #ffd700, #ffcc00);

        
      }
    }
    #uranus {
      rotate:300deg;
      animation: orbit-at-7 25s linear infinite;
            &::after {
        transform: scale(3.2);
        background: linear-gradient(to bottom right, #add8e6, #87cefa);

      }
    }
    #neptune {
      rotate:300deg;
      animation: orbit-at-7 71s linear infinite;
      &::after {
        transform: scale(2.4);
        background: linear-gradient(to bottom right, #3f3f69, #777794);

      }
    }
    #pluto {
      rotate: 180deg;
      animation: orbit-at-3 80s linear infinite;
      &::after {
        transform: scale(2.6);
        background: linear-gradient(to bottom right, #dcdcdc, #a9a9a9);

      }
    }
  }

  @keyframes orbit {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }

  @keyframes orbit-at-12 {
    0% {
      rotate: 90deg;
    }
    100% {
      rotate: 450deg;
    }
  }
  @keyframes orbit-at-3 {
    0% {
      rotate: 180deg;
    }
    100% {
      rotate: 540deg;
    }
  }
  @keyframes orbit-at-7 {
    0% {
      rotate: 300deg;
    }
    100% {
      rotate: 660deg;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}
